/* Global styles */
body {
    background-color: black;
    text-align: center;
}

h1 {
    font-family: verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

h2{
    color: grey;
}


/* Classes */ 
.download-link {
    color: aquamarine;
    font-size: 16px;
}

.right-logo {
    text-align: right;
}
